.contained-HomeWriter{
    height: 100% ;
    width: 100%;
    display: grid;
    grid-template-rows: 15% auto 15%;
}
.IconAlura{
    display: flex;
    align-items: center;
}
.TextareaWriter{
    display: flex;
    justify-content: center;
}
.TextareaWriter textarea{
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871 !important;
}
.TextareaWriter div {
   width: 80%;
}
.ButtonsAndLabel{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ButtonsAndLabel .ButtonsAndLabel-child{
    width: 80%;
}
.label-item{
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: auto auto;
    width: 290px;
}
.ButtonsGrids{
    display: grid;
    grid-template-columns:auto auto;
    gap: 20px;
    height: 55px
}
.ButtonsGrids button{
    border-radius: 24px !important;
}
.ButtonsGrids .req{
background-color: #0A3871;
color: #FFFFFF;
}
.ButtonsGrids .res{
background-color:#D8DFE8 ;
color: #0A3871;
}


@media screen and (max-width: 750px) {
    .contained-HomeWriter{
        height:550px ;
    }
}
@media screen and (max-width: 350px){
    Button p{
        font-size: 11px;
    }
    .ButtonsAndLabel .ButtonsAndLabel-child .label-item .label-element p{
        font-size: 14px;
        
    }    
    .ButtonsAndLabel .ButtonsAndLabel-child .label-item{
        width: auto;
        gap: 5px;
    }
    .contained-HomeWriter{
        width: auto;
    }
}
